

.text-sky-blue {
    color: deepskyblue;
}

.btn.text-primary {
    box-shadow: none;
    width: 80px;
}
button.btn-selected {
    background: white;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0px -3px 0px 0px #054c70 !important;
}

.spinner-border {
    top: 15px;
    right: 15px;
}